@tailwind base;
@tailwind components;
@tailwind utilities;

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  position: relative;
}
.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  width: 24px;
  transform: rotate(0);
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.hamburger-middle {
  transform: translateY(7px);
  -webkit-transform: translateY(7px);
  -moz-transform: translateY(7px);
  -ms-transform: translateY(7px);
  -o-transform: translateY(7px);
}
.hamburger-bottom {
  transform: translateY(14px);
  -webkit-transform: translateY(14px);
  -moz-transform: translateY(14px);
  -ms-transform: translateY(14px);
  -o-transform: translateY(14px);
}
.open {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: translate(0px);
  -webkit-transform: translate(0px);
  -moz-transform: translate(0px);
  -ms-transform: translate(0px);
  -o-transform: translate(0px);
}
.open .hamburger-top {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.open .hamburger-middle {
  display: none;
}
.open .hamburger-bottom {
  transform: rotate(-45deg) translate(6px) translate(-6px);
  -webkit-transform: rotate(-45deg) translate(6px) translate(-6px);
  -moz-transform: rotate(-45deg) translate(6px) translate(-6px);
  -ms-transform: rotate(-45deg) translate(6px) translate(-6px);
  -o-transform: rotate(-45deg) translate(6px) translate(-6px);
}

.will-change-transform {
  will-change: transform;
}
.cursor::after {
  display: block;
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: #fff;
  animation: cursor 0.6s linear infinite alternate;
  will-change: opacity;
}

@keyframes cursor {
  0%,
  40% {
    opacity: 1;
  }

  60%,
  100% {
    opacity: 0;
  }
}
.blinking-cursor {
  position: relative;
  display: inline-block;
  font-family: Monaco, Arial, Helvetica, sans-serif;
  line-height: 24px;
  font-size: 24px;
  min-width: 360px;
}

.blinking-cursor::after, .blinking-cursor-small::after {
  content: " ";
  position: absolute;
  top: 0;
  /* Remove display: inline-block if not required to be on the same line as text etc */
  display: inline-block;
  background-color: #ac90ec;
  vertical-align: top;
  width: 10px;
  /* Set height to the line height of .text */
  height: 24px;
  /* 
    Animation paramaters:
    blink = animation-name, 
    1s = animation-duration, 
    step-end = animation-timing-function,
    infinite = animation-iteration-count
    */
  -webkit-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
}
.blinking-cursor-small::after{
  width: 10px; height: 18px;
  background-color: #fff;
  top: .4rem;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}




